<h1>Weekly Aggregates</h1>

<h2>First runs</h2>

<table>
  <thead>
    <th>Weekly</th>
    <th>Average Time</th>
    <th>Total Builds</th>
    <th>Total Pass</th>
    <th>% pass</th>
    <th>Average Total Time</th>
  </thead>
  <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>

<h2>Full runs</h2>

<table>
  <thead>
    <th>Weekly</th>
    <th>Average Time</th>
    <th>Total Builds</th>
    <th>Total Pass</th>
    <th>% pass</th>
    <th>Average Total Time</th>
  </thead>
  <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  </tbody>
</table>
